@import '../styles/modules';

.header {
    
}
.nav {
    box-shadow: 0px 10px 10px -15px #111; 
    padding-left: 30px;

    @include onTablet {
        padding-left: 50px;
    }
    &__list {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px;
        padding-block: 7px;

        @include onDesktop-s {
            padding-left: 0;
            max-width: 1024px;
            @include centralize;
        }
    }

    &__item {

    }

    &__link {
    color: red;
    text-align: center;
    text-decoration: none;
    font-weight: 600;


        &--logo {
            display: block;
            color: red;
            min-width: 100px;
            height: 40px;
            background-image: url('../../public/images/logotype.gif');
            background-size: contain;
            background-repeat: no-repeat;

            @include onTablet {
                min-width: 140px;
                height: 60px;
            }

            @include onDesktop-s {
                @include hover-scale-1-05;
            }
        }

        &--login {
            display: block;
            height: 20px;
            line-height: 20px;
            background-color: #f91228;
            color: #fff;
            padding-inline: 19px;
            padding-block: 5px;
            border-radius: 5px;
            font-size: 15px;

            @include onTablet {
                height: 40px;
                line-height: 40px;
                padding-inline: 40px;
                font-size: 18px;
            }

            @include onDesktop-s {
                height: 35px;
                line-height: 35px;
                font-size: 16px;

                @include hover-scale-1-05;
            }
        }
    }
}

.open_sidebar, .close_sidebar {
    box-sizing: border-box;
    display: block;
    position: absolute;
    background-image: url(../../public/images/menu-open.svg);
    background-size: contain;
    background-position: center;
    padding-inline: 15px;
    margin-left: 10px;

    line-height: 54px;
    height: 54px;

    background-repeat: no-repeat;


    @include onTablet {
        width: 20px;
        line-height: 70px;
        height: 70px;
        margin-left: 30px;
    }
    @include onDesktop-s {
        visibility: hidden;
        opacity: 0;
    }
}

.close_sidebar {
    background-image: url(../../public/images/close-black.svg);
}

.close_sidebar {
    opacity: 0;
    pointer-events: none;
}

.header-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;

    @include onDesktop-s {
        gap: 30px;
    }
}

.user-label {


    text-decoration: none;
    font-weight: 600;
    color: rgb(47, 91, 251);

    &:visited {
        color: rgb(47, 91, 251);
    }

    &:hover { 
        text-decoration: underline;
    }
}